<!--header.ejs-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= blog.title %>
    </title>
    <link rel="stylesheet" href="../public/css/semantic.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <script src="../public/js/semantic.js"></script>
</head>
<body>
<%- include('components/nav') %>
<%- include('components/nav-setting') %>
<%- include('components/notification') %>